body{
  direction: rtl !important;
}
.home_title{
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  color: #3b5998;
  font-weight: 900;
  margin-top: 1em;
}

.single_title,
.single_content,
.single_image {
    text-align: right;
}

.hold_cat_name{
  text-align: right !important;
}
.home_title:after {
  content: '';
  border-top: 1px solid rgba(240, 80, 110, 0.3);
  margin: 3px 10px 0px 20px;
  flex: 1 0 20px;
}
.homepage_icon{
  font-size: 22px;
  margin-right: 9px;
  color: #f0506e;
}


h3.post_title_cat{
  text-align: center;
  font-size: 18px !important;
}
h3.post_title_cat a {
    font-size: 16px;
    font-weight: 700;
    text-align: right;
}

.overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
  top: 0;
  padding: 50px;
  background: rgba(0, 0, 0, 0.25);
}


.date {
  display: flex;
  color: #3b5998;
  font-weight: 900;
  padding: 5px;
  border-radius: 5px;
}

.log_nav,
.nav_in{
  padding: 0px;
  margin: 0;
  display: flex;
align-items: center;
}

.dropdown-menu-right {
    left: 0;
    right: auto;
}

.list_home_top {
    text-align: right;
    padding-right: 5px;
}

.list_home_top img{
  border-radius: 50%;
  padding: 5px;
}

.site-title{
  font-size: 22px !important;
  font-weight: 900;
}
a.site-title{
  margin-right: .5em;
  color: #fff;
}
.dropdown-menu-dir{
  left: 0;
  right: auto
}





.child_cat{
  background: #cc5577;
  margin: 0px auto;
  text-align: center;
  padding-top: 19px;
  padding-bottom: 19px;
  border: none;
  border-radius: 0;
}

.child_cat li{
  padding: 5px;
}
.child_cat li:hover{
  background: #562f9b;
}
.child_cat li a{
  color: #fff;
}
.down_nav{
  padding: 0px;
  background: #fff;
}


/* The sticky class is added to the navbar with JS when it reaches its scroll position */
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}


  .top_nav ul li,
  .top_nav{
    text-align: right !important;
  }


  .dropdown-menu.show{
    right: auto;
    left: 0;
  }
